<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <span style="color: white">Date</span>
                        <span style="color: white">:</span>
                        <span style="color: white" id="day">00</span>
                        <span style="color: white">/</span>
                        <span style="color: white" id="month">00</span>
                        <span style="color: white">/</span>
                        <span style="color: white" id="year">00</span>
                        <span style="color: white">-</span>

                        <span style="color: white">Time</span>
                        <span style="color: white">:</span>
                        <span style="color: white" id="hours">00</span>
                        <span style="color: white">:</span>
                        <span style="color: white" id="minutes">00</span>
                        <span style="color: white">:</span>
                        <span style="color: white" id="seconds">00</span>
                        <span style="color: white" id="session">AM</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a href="/signIn">Sign in</a>
                            <a href="/CreateAccount">Create Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a style="text-decoration: none; color: black; font-size: 28px;" href="/">LinkedItems<span style="color: red">.</span></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop/products">Shop</a></li>
                        <li><a href="/">About Us</a></li>
                        <li><a href="/ContactUs">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                    <a href="#"><img src="img/icon/heart.png" alt=""></a>
                    <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                    <div class="price">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>