<%- include('layouts/head.ejs') %>
    <title>Page Not Found</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
        * {
            font-family: 'Lato', sans-serif;
        }
    </style>
    </head>

    <body>
        <%- include('layouts/navigation.ejs') %>

            <div style="height: 600px; background-color: #2596be;">
                <h1 style="text-align: center; padding-top: 200px; color: whitesmoke;">Page Not Found</h1>
            </div>

            <%- include('layouts/foot.ejs') %>